<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>World Orange Festival-Registration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="icon" type="image/png" href="./images/favicon.png" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
       <a class="orregister" href="event-schedule.html"><span>Register</span></a>
    <div class="full-header">
        <div class="orangecontactparentdiv">
            <div class="orangecontactdiv">
                <span class="mailid">
            <a href="mailto:worldorangefestival@lokmat.com" class="orangecontactanchors"><i class="fa fa-envelope-o" aria-hidden="true"></i> worldorangefestival@lokmat.com</a>
            <div class="gamesparent"><i class="fa fa-hashtag gamesicohead" aria-hidden="true"><a href="game.html" class="gamesicospan">PLAY</a></i></div>
            </span>
            </div>
        </div>
        <nav class="navparent">
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html"><img class="logoimgsvg" src="./images/orange-logo.png"></a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <span class="hamburger"></span>
                    <span class="hamburger"></span>
                    <span class="hamburger"></span>
                </div>
                <div class="module-group right">
                    <div class="module left oranmobmenu">
                        <ul class="menu">
                            <li class=""> <a href="farmers-first.html">Farmers First</a>
                            </li>
                            <li class="has-dropdown"> <a href="activities.html">Activities</a>
                                <ul>
                                    <li class=""> <a href="activities-inner.html?activities=art-and-culture" target="">Art & Culture</a> </li>
                                    <li class=""> <a href="activities-inner.html?activities=food" target="">Food</a> </li>
                                    <li class=""> <a href="activities-inner.html?activities=entertainement" target="">Entertainment</a> </li>
                                    <li class=""> <a href="activities-inner.html?activities=games" target="">Games</a> </li>
                                    <li class=""> <a href="activities-inner.html?activities=others" target="">Others</a> </li>
                                </ul>
                            </li>
                            <li class=""> <a href="event-schedule.html"> Event Schedule </a> </li>
                            <li class=""> <a href="venue.html"> Venue </a></li>
                            <li class=""> <a href="partners.html"> Partners </a></li>
                            <li class=""> <a href="gallery.html"> Gallery </a></li>
                            <li class="gamesli"> <a href="game.html"> Games </a></li>        
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="pagetoppad">
    </div>
    <!-- Main Wrapper Div Start -->
    <div class="body-content background-image">
        <!-- Main Div Start -->

<script type="text/html" id="tan">
            <div class="clone-div">
                <div class="col-xs-12 col-sm-12 col-md-6 filed-box">
                    <span><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="name[<%= element.i %>]"  placeholder="Full Name*" class="common-inputfd tesf ">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 filed-box">
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <input type="text" name="phone[<%= element.p %>]" placeholder="Mobile No*" class="common-inputfd tesf teref2">
                    <!-- <a href="javascript:void(0);" class="clone"> <span class="float"><i class="fa fa-plus-circle plus" aria-hidden="true"></i></span></a> -->
                </div>
            </div>
        </script>

        <div class="block-register">
            <div class="outer-valign">
                <div class="inner-valign">
                    <h3>Registration</h3>
                    <div class="full-box">
                        <div class="box-txt">
                            <p>Grab your seat, fastened the seat belt and sit tight as you are about to sign up for the most exciting and juiciest event in the town!</p>
                            <!-- Form Start -->
                            <div class="form-section">
                                    <form id="register"  class="common-form" enctype="multipart/form-data" action="submit.php" method="post">
                                      <div class="clone-div">
                                        <div class="col-xs-12 col-sm-12 col-md-6 filed-box">
                                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <input type="text" name="name[0]" placeholder="Full Name*" class="common-inputfd">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 filed-box">
                                          <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            <input type="text" name="phone[0]" placeholder="Mobile No*" class="common-inputfd">
                                        </div>

                                      </div>
                                      <div class="incredecre">
                                           <a href="javascript:void(0);" class="clone"> <span class="nonfloat"><i class="fa fa-plus-circle plus" aria-hidden="true"></i></span></a>
                                           <a href="javascript:void(0);" class="delete-clone"> <span class="nonfloat minus"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                                       </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 filed-box">
                                          <span class="last-ico"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            <input type="text" name="email" placeholder="Email ID*" class="common-inputfd last">
                                        </div>
                                        <div class="col-md-12 text-center">
                                        <button class="submit-btn" type="submit">Register Now
                                        </button>
                                    </div>
                                    </form>
                                <!-- Form Start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Div End -->
    </div>
    <!-- Main Wrapper Div End -->
   <footer class="orangesuperfooter">
        <div class="oranfooter clearfix">
            <div class="oranfooter1"><a  target="_blank" href="https://www.facebook.com/WorldOrangeFestival"><i class="oransocialfoot fa fa-facebook" aria-hidden="true"></i></a><a  target="_blank" href="https://twitter.com/WorldOrangeFest"><i class="oransocialfoot fa fa-twitter" aria-hidden="true"></i></a><a  target="_blank" href="https://www.instagram.com/worldorangefestival/"><i class="oransocialfoot fa fa-instagram" aria-hidden="true"></i></a></div>
            <div class="oranfooter2">@2017 WORLD ORANGE FESTIVAL. ALL RIGHTS RESERVED. CRAFTED BY <a href="http://www.togglehead.in" target="_blank" class="togglelinks">TOGGLEHEAD</a></div>
        </div>
    </footer>
    <script src="js/main.min.js"></script>
    <script src="js/lib/lightgallery.min.js"></script>
    <script src="js/lib/lg-video.min.js"></script>
    <script type="text/javascript">
       _.templateSettings.variable = "element";
var tpl = _.template($("#tan").html());

var counter = 1;

$('.clone').on('click',function(e){
    e.preventDefault();
    var tplData = {
        i: counter,
        p: counter
    };
   
    $(tpl(tplData)).insertAfter($('.clone-div').last());
    counter += 1;

    $('.tesf').each(function () {
        $(this).rules("add", {
            required: true,
            messages: {
                required: "Please Enter Your Name",
                
              }
        });
    });

    $('.teref2').each(function () {
        $(this).rules("add", {
            digits: true,
            maxlength:15,
            minlength: 6,
             messages: {
                 required: "Please Enter Your Phone Number",
                digits: "Please enter only digits",
                
              }
        });
    });

    

    

});

$('.delete-clone').on('click',function(e){
    e.preventDefault();
    var tplData = {
        i: counter,
        p: counter
    };
   

   if (counter > 1) {
        $('.clone-div').last().remove();
        console.log(counter);
        counter -= 1;

    

   }else {

    console.log('dfsdfsd');

    counter = 1;

   }
    
    


    

   

    

});

    </script>
</body>

</html>