            <div class="row">

                <div class="col-sm-4 col-md-4 live-feed">
                    <span><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
                    <h3>Facebook</h3>
                    <div class="facebook-feeds">
                        <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FWorldOrangeFestival&width=800&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:100%; height:430px; background: white; float:left; " allowtransparency="true"></iframe>
                    </div>
                    <div class="button-container clearfix">
                        <a href="https://www.facebook.com/WorldOrangeFestival" class="button-class" target="_blank">Follow Us on Facebook</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 live-feed">
                    <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    <h3>Twitter</h3>
                    <div class="twitter-feeds">
                        <a class="twitter-timeline" href="https://twitter.com/WorldOrangeFest?ref_src=twsrc%5Etfw"></a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="button-container clearfix">
                        <a href="https://twitter.com/WorldOrangeFest" class="button-class" target="_blank">Follow Us on Twitter</a>
                    </div>
                </div>
                
                <div class="col-sm-4 col-md-4 live-feed">
                    <span><i class="fa fa-instagram insta" aria-hidden="true"></i></span>
                    <h3>Instagram</h3>
                    <div class="instagram-feeds">
                        <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
                        <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
                        <ul class="juicer-feed" data-feed-id="purnima5333">
                            <h1 class="referral"><a href="https://www.juicer.io"></a></h1></ul>
                    </div>
                    <div class="button-container clearfix">
                        <a href="https://www.instagram.com/worldorangefestival/" class="button-class" target="_blank">Follow Us on Instagram</a>
                    </div>
                </div>
            </div>